/* EXERCISE 1 */
.ex-1-square{
    transition: background-color 5s;
}
.ex-1-square:hover {
     background-color: red;
}
/* / EXERCISE 1 */

/* EXERCISE 2 */
.ex-2-square{
    transition: width 5s;
}

.ex-2-square:active{
    width: 700px;
}
/* / EXERCISE 2 */

/* EXERCISE 3 */
.ex-3-square{
    transition: border-radius 5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}
/* / EXERCISE 3 */

/* EXERCISE 4 */
.ex-4-square{
    animation: disappear 5s;
}

@keyframes disappear{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }
}
/* / EXERCISE 4 */

/* EXERCISE 5 */
.ex-5-square{
    transition: transform 5s;
}

.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(0.5);
}
/* / EXERCISE 5 */

/* EXERCISE 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}
/* / EXERCISE 6 */

/* EXERCISE 7 */
.ex-7-img{
    animation: filters 5s; 
}

@keyframes filters{
    0%{
        filter: grayscale(0%) blur(0px);   
    }
    
    100%{
        filter: grayscale(100%) blur(10px);
    }
}
/* / EXERCISE 7 */

/* EXERCISE 8 */

/* / EXERCISE 8 */

/* EXERCISE 9 */
/* / EXERCISE 9 */

/* EXERCISE 10 */
/* / EXERCISE 10 */

/* EXERCISE 11 */
/* / EXERCISE 11 */

/* EXERCISE 12 */
/* / EXERCISE 12 */

/* EXERCISE 13 */
/* / EXERCISE 13 */